<div id="<%= dom_id formulary %>">
  <p>
    <strong>Name:</strong>
    <%= formulary.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= formulary.description %>
  </p>

  <p>
    <strong>Date begin:</strong>
    <%= formulary.date_begin %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= formulary.date_end %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= formulary.condition %>
  </p>

</div>
